/* 1. Reduce the body contrast */

body {
  background-color: hsl(200, 10%, 95%);
  color: hsl(200, 10%, 25%);
}

/* 2. Minimise font usage */

h1,
h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* 3. Centre content */
/* 4. Fill the unused horizontal space on bigger screens  */

.main {
  max-width: 64rem;
  margin: 4rem auto;
  padding: 1rem;
  display: flex;
}

.header {
  background-color: #fff;
}

.header__link {
  text-decoration: none;
  text-decoration-skip: ink;
  transition: color 0.2s;
}

.header__link:hover {
  color: hsl(10, 100%, 60%);
}

.add-todos {
  margin-top: 1rem;
}

@media (min-width: 40rem) {
  .add-todos {
    margin: 0;
  }
}

.form__label {
  display: block;
  margin-top: 1rem;
}

/* 5. Make buttons/inputs consistent (colour/box-shadow) */

.form__input {
  margin-top: 0.5rem;
  border: 1px solid;
  border: 1px solid hsl(200, 10%, 80%);
  box-shadow: 0 1px 2px hsla(200, 10%, 20%, 0.25);
  border-radius: 2px;
  padding: 0.5rem;
  background-color: #fff;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 0 4px hsl(10, 100%, 85%);
}

.form__btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 2px hsla(200, 10%, 20%, 0.25);
  background-color: hsl(10, 100%, 60%);
  color: #fff;
  border-radius: 6px;
}

.form__btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px hsl(10, 100%, 85%);
}

.todos {
  margin-top: 2rem;
}

@media (min-width: 40em) {
  .todos {
    margin-top: 0;
    margin-left: 4rem;
    flex: 1;
  }
}

/* 6. Put todos in a grid */

.todos__grid {
  margin-top: 1rem;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1rem;
}

/* 7. Try some box-shadow */
.todo {
  position: relative;
  margin-top: 0;
  border: 1px solid hsl(200, 10%, 80%);
  border-radius: 4px;
  background-color: #fff;
  transition: opacity 0.2s;
  /* flex: 1 0 12rem; */
}

/* .todo:not(:first-child) {
  margin-left: 1rem;
} */

.todo--done {
  opacity: 0.5;
}

.todo--done .todo__title,
.todo--done .todo__description,
.todo--done .todo__footer {
  text-decoration: line-through;
}

.todo__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
}

/* 8. Use weight rather than size to differentiate */

.todo__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.todo__btns {
  display: flex;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.todo__btn {
  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  border-radius: 4px;
  font-size: 2rem;
  transition: color 0.2s;
}

.todo__btn--done {
  color: hsl(120, 100%, 30%);
}

.todo__btn--delete {
  color: hsl(10, 100%, 60%);
}

.todo__btn:hover {
  color: hsl(200, 20%, 20%);
}

.todo__body {
  padding: 1rem;
}

.todo__description {
  margin-top: 0.5rem;
}

/* 9. Use colour rather than size to differentiate */
/* 10. Use background rather than border to separate */

.todo__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  border-top: none;
  color: hsl(200, 10%, 40%);
  background-color: hsl(200, 20%, 96%);
}
