* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

input,
textarea,
button {
  display: block;
  background: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.header {
  display: flex;
  padding: 1rem calc(1rem + 4vw);
}

.header__title {
  font-weight: bold;
  font-size: 1.25rem;
}

.header__nav {
  margin-left: auto;
}

.header__list {
  display: flex;
}

.header__item + .header__item {
  margin-left: 1.5rem;
}

.header__link {
  color: inherit;
}
